<script type="x-shader/x-vertex" id="vertexShader">
  varying vec3 vWorldPosition;
  void main() {
    vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
    vWorldPosition = worldPosition.xyz;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>

<script type="x-shader/x-fragment" id="fragmentShader">
  uniform vec3 topColor;
  uniform vec3 bottomColor;
  uniform float offset;
  uniform float exponent;
  varying vec3 vWorldPosition;
  void main() {
    float h = normalize( vWorldPosition + offset ).y;
    gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
  }
</script>

<div id="three-js-mount"></div>
<div class="up-arrow">
  <span>ABOUT</span>
  <i class="fa fa-chevron-circle-up"></i>
</div>
<div class="home-content">
  <h1>RORY TACA</h1>
  <h2>WEB APPLICATION DESIGN <em><i class="fa fa-times" aria-hidden="true"></i></em> DEVELOPMENT</h2>
</div>
<div class="down-arrow">
  <span>CONTACT</span>
  <i class="fa fa-chevron-circle-down"></i>
</div>

{{!-- <div class="about-content">

</div> --}}